# Xcode
build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
InstaGif.xcodeproj/project.pbxproj

.DS_Store

InstaGif.xcodeproj/project.xcworkspace/xcuserdata/vpamelard.xcuserdatad/UserInterfaceState.xcuserstate


InstaGif.xcodeproj/project.xcworkspace/xcuserdata/bgattet.xcuserdatad/UserInterfaceState.xcuserstate
